<!DOCTYPE html>
<html>
<head>
    <title></title>
    #parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="!detail&&showList">
        <Row :gutter="16">
            <div class="search-group">
                <i-col span="4">
                    <i-input v-model="q.orderNo" @on-enter="query" placeholder="订单号"/>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.orderStatus">
                        <i-option value="1">待指派</i-option>
                        <i-option value="2">待确认</i-option>
                        <i-option value="3">已确认</i-option>
                        <i-option value="4">订单完成</i-option>
                        <i-option value="5">已作废</i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.orderType">
                        <i-option value="1">预约订单</i-option>
                        <i-option value="2">定金订单</i-option>
                    </i-select>
                </i-col>
                <i-col span="4">
                    <i-select v-model="q.channelId">
                        <i-option value="1">维修</i-option>
                        <i-option value="2">改造</i-option>
                        <i-option value="3">设计</i-option>
                        <i-option value="4">定制化加配</i-option>
                        <i-option value="5">装修</i-option>
                        <i-option value="6">空调维保</i-option>
                        <i-option value="7">家具保养</i-option>
                        <i-option value="8">专业验房</i-option>
                    </i-select>
                </i-col>
                <i-button @click="query">查询</i-button>
            </div>
            <div class="buttons-group">
                #if($shiro.hasPermission("order:cancelOrder"))
                <i-button type="warning" @click="cancelOrder">订单作废</i-button>
                #end
                #if($shiro.hasPermission("order:dispatchOrder"))
                <i-button type="error" @click="dispatchOrder">订单指派</i-button>
                #end
            </div>
        </Row>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <Card v-show="detail">
        <p slot="title" style="height: auto">
            {{title}}
        </p>
        <i-form ref="formValidate" :model="order" :label-width="80">
            <Form-item label="订单号" prop="orderNo">
                <i-input v-model="order.orderNo" readonly/>
            </Form-item>
            <Form-item label="会员" prop="userName">
                <i-input v-model="order.userName" readonly/>
            </Form-item>
            <Form-item label="订单类型" prop="orderType">
                <Radio-group v-model="order.orderType">
                    <Radio label="1" disabled>
                        <span>预约订单</span>
                    </Radio>
                    <Radio label="2" disabled>
                        <span>定金订单</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <Form-item label="订单状态" prop="orderStatus" readonly>
                <Radio-group v-model="order.orderStatus">
                    <Radio label="1" disabled>
                        <span>待指派</span>
                    </Radio>
                    <Radio label="2" disabled>
                        <span>待服务</span>
                    </Radio>
                    <Radio label="3" disabled>
                        <span>服务中</span>
                    </Radio>
                    <Radio label="4" disabled>
                        <span>订单完成</span>
                    </Radio>
                    <Radio label="5" disabled>
                        <span>已作废</span>
                    </Radio>
                    <Radio label="6" disabled>
                        <span>待评价</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            
            <Form-item label="付款状态" prop="paymentStatus">
                <Radio-group v-model="order.paymentStatus">
                    <Radio label="1" disabled>
                        <span>待付定金</span>
                    </Radio>
                    <Radio label="2" disabled>
                        <span>已付定金</span>
                    </Radio>
                </Radio-group>
            </Form-item>
            <Form-item label="渠道名称" prop="channelName">
                <i-input v-model="order.channelName" readonly/>
            </Form-item>
            <Form-item label="联系人" prop="contactName">
                <i-input v-model="order.contactName" readonly/>
            </Form-item>
            <Form-item label="服务地址" prop="address">
                <i-input v-model="order.address" readonly/>
            </Form-item>
            <Form-item label="联系电话" prop="contactMobile">
                <i-input v-model="order.contactMobile" readonly/>
            </Form-item>
            <Form-item label="支付金额" prop="orderPrice">
                <i-input v-model="order.orderPrice" readonly/>
            </Form-item>
             <Form-item label="优惠金额" prop="couponPrice">
                <i-input v-model="order.couponPrice" readonly/>
            </Form-item>
            <Form-item label="下单时间" prop="createTime">
                <Date-picker v-model="order.createTime" placeholder="使用时间" readonly/>
            </Form-item>
            <Form-item label="付款时间" prop="paymentTime">
                <Date-picker v-model="order.paymentTime" placeholder="使用时间" readonly/>
            </Form-item>
            <Form-item>
                <i-button type="warning" @click="reload" style="margin-left: 8px"/>返回</i-button>
            </Form-item>
        </i-form>
    </Card>

</div>
<script src="${rc.contextPath}/js/shop/order.js?_${date.systemTime}"></script>
</body>
</html>